.about-container {
  gap: 2em;
  min-height: 100vh;
  width: 100%;
  padding: 4em 2em;
}

.about-container a {
  text-decoration: none;
  color: inherit;
}

.about-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  max-width: 600px;
  margin: 0 auto;
}

.about-header img {
  width: 15em;
  height: 15em;
  border-radius: 100%;
}

.about-header h1 {
  font-weight: bold;
  font-size: 5em;
}

.about-grid-container {
  margin-top: 5em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.about-grid-container div {
  background-color: #EDEDED;
  padding: 3em;
  border-radius: 1em;
  transition: transform 0.3s ease;
}

.about-grid-container div:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px #0f62fe;
  cursor: pointer;
}

.about-grid-container img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1em;
}

.about-grid-container h2 {
  margin-bottom: 1em;
}

.about-grid-container p {
  font-size: 1.4em;
}

@media screen and (max-width: 750px) {
  .about-grid-container {
    grid-template-columns: 1fr;
  }
  .about-header {
    flex-direction: column;
  }
  .about-header h1 {
    font-size: 3em;
  }
}

